<%
=begin%>
 <%= form_with(model: opinion, local: true) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
        <% opinion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :thought %>
    <%= form.text_area :thought %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> 
<%
=end%>

<div class = 'white-back mx-2 p-4 mt-4 rounded'>
  <%= form_with(model: @opinion, local: true) do |form| %>
 
     
       <h6 class = 'text-secondary my-2'>SHARE YOUR OPINION</h6>
        <%= form.text_area :thought, placeholder: "Compose new Opinion", class: 'input-class none-resize mt-2 w-100 border rounded' %> <br>
     
      <%= form.submit class: 'btn btn-primary' %>
      <%= hidden_field_tag(:redirect_url, opinions_path) %>
   
  <% end %>
</div>

 