<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @opinion.user.username %>
</p>

<p>
  <strong>Thought:</strong>
  <%= @opinion.thought %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @opinion.created_at %> 
</p>


<% if current_user.id == @opinion.user.id %>
<%= link_to 'Edit', edit_opinion_path(@opinion) %>
<%end%>
<%= link_to 'Back', opinions_path %>
