<div id="feed" class="list-group w-100 pl-2 h-566 mt-5">
  <% @user.opinions.order("created_at DESC").each do | opinion | %>
  <div  class="list-group-item list-group-item-action my-1 rounded ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1 text-capitalize"><%= link_to  opinion.user.username, user_path(opinion.user.id), remote: true, :class => 'text-decoration-none text-black font-weight-bold'%></h5>
      <hr>
      <small class = 'text-secondary'><%= opinion.created_at.strftime('%c') %></small>
    </div>
    <p class="mb-1 text-secondary"><%= opinion.thought %></p>
    <% if opinion.user == current_user %>
      <small ><%= link_to "Edit", edit_opinion_path(opinion) %></small>
      <small><%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></small>
    <% end %>
  </div>
 <% end %>
</div>
