<div>
    <h1> 
        UserName: <span> <%= @user.username %>  </span>
    </h1>
    <button type="button" class="btn btn-primary"> <%= follow_check(@user) %> </button>
    
    <h2>Followers : <%= @user.followers.count %></h2>
    <h2>Followings : <%= @user.followings.count %></h2>
    <h2>All posts</h2>
    <ul>
        <% @user.opinions.all.each do |opinion| %>
        <li><%= opinion.thought  %><small> <%= opinion.created_at %> </small></li>
        <% end %>
    </ul>
 
</div>
