<div class="page-wrapper">
<div class="form-container">
<p class="signup">Forgot your password? <span>or <%= link_to 'create a new account', new_user_registration_path %></span></p>
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {:class => 'signin-email', :method => :post} ) do |f| %>
  	<%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :email, :class => 'label-class blue-text' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'input-class' %>

  	<div class = 'mt-1 mb-2'>
    	<%= f.submit "Send me reset password instructions", :class => 'btn btn-primary w-100' %>
  	</div>

	<% end %>
	<div>
		<%= render "devise/shared/links" %>
	</div>
</div>
</div>
