<div class="page-wrapper">
<div class="form-container">
<p class="signup">Sign in <span>or <%= link_to 'create a new account', new_user_registration_path %></span></p>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'signin-email'} ) do |f| %>
  	
    	<%= f.label :email, :class => 'label-class blue-text' %>
    	<%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'input-class' %>

    	<%= f.label :password, :class => 'label-class mt-4 blue-text' %>
    	<%= f.password_field :password, autocomplete: "current-password", :class => 'input-class' %>

  	<% if devise_mapping.rememberable? %>
			<div class = ''>
				<%= f.label :remember_me, :class => 'blue-text' %>
      	<%= f.check_box :remember_me, :class => 'ml-2 mt-2' %>
			</div>
  	<% end %>

  	<div class = 'mt-1 mb-2'>
    	<%= f.submit "Log in", :class => 'btn btn-primary w-100' %>
  	</div>
	<% end %>
	<div>
		<%= render "devise/shared/links" %>
	</div>
</div>
</div>
